<hr/>
<footer class="row">
	<!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
	<hr>
	<p class="text-center">
		Copyright Team Mech, 2016
	</p>
</footer>