<!DOCTYPE html>
<html>
  <head>
    <title>All Chores</title>
    {{> styles }}
    <link rel="stylesheet" type="text/css" href="css/fluid.css">
  </head>
  <body>
  {{> navbar }}
  <div class="container-fluid">
    
    <div class="jumbotron">
      <h1>All Cards</h1>
      <p>
        These are all the chore cards available in your house.
      </p>
    </div>

    <div class="row">
      <div class="col-xs-12">
        
        <ul class="list-cards col-xs-12">
          {{#each cards.cards}}
          {{> flippable-card }}
          <hr>
          {{/each}}
        </ul>
      </div>
    </div>
    {{> footer }}
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/card-util.js"></script>
  </body>
</html>
