<!doctype html>

<html>
<head>
	<title>Chore Champs - Home</title>	
    {{> styles }}
</head>

<body>
	<nav class="navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<span class="navbar-brand">Chore Champions</span>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="jumbotron">
					<p>
					<small>
					Chore Champions is a competitive trading card game about keeping your home clean. To play, you must
					either create a house or join a preexisting one.{{!--  If
					you'd like to set up the game for your house, please click on "Create A House". If 
					someone else has already set up the game for you, click "Join"! --}}
					</small>
					</p>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<p class="text-center">
							<a class="btn btn-success btn-lg" id="create-btn"href="#create-form" role="button">Create</a>							
						</p>
					</div>
					<div class="col-xs-6">
						<p class="text-center">
							<a class="btn btn-primary btn-lg" id="join-btn"href="#join-form" role="button">Join</a>
						</p>
					</div>
				</div>
			
				<div class="hidden" id="create-form">
					<form action="/create" action="GET">
						<div class="form-group">
							<label for="">House Code</label>
							<input type="text" name="houseCode" class="form-control" value="dfe43sade" disabled/>
						</div>
						<div class="form-group">
							<label for="">Username</label>
							<input type="text" name="username" class="form-control" value="Bob" required/>
						</div>
						<div class="form-group">
							<label for="">Bedrooms</label>
							<select name="beds" id="" class="form-control">
								<option value="1" class="form-control">1 bedroom</option>
								<option value="2" class="form-control">2 bedrooms</option>
								<option value="3" class="form-control">3 bedrooms</option>
								<option value="4+" class="form-control">4+ bedrooms</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">Bathrooms</label>
							<select name="baths" id="" class="form-control">
								<option value="1" class="form-control">1 bathroom</option>
								<option value="2" class="form-control">2 bathrooms</option>
								<option value="3" class="form-control">3 bathrooms</option>
								<option value="4+" class="form-control">4+ bathrooms</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="hidden" id="join-form">
					<form action="/join" action="GET">
						<div class="form-group">
							<label for="">House Code</label>
							<input type="text" name="houseCode" class="form-control" value="" placeholder="Enter Code Here!" required/>
						</div>
						<div class="form-group">
							<label for="">Username</label>
							<input type="text" name="username" class="form-control" value="Sally" required/>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="js/pages/landing.js"></script>     
</body>
</html>
