<!doctype html>

<html>
<head>
	<title>Chore Champs - Home</title>	
    {{> styles }}
</head>

<body>
	<nav class="navbar-inverse navbar-fixed-top">
		<div class="container">
			<h1 class="navbar-text">Chore Champions</h1>
		</div>
	</nav>
	
	<div class="container">
		<br/>
		<div class="row">
			<div class="col-xs-12">
				<div class="jumbotron">
				<h1>Welcome!</h1>
				<p>
				Chore Champions is a competitive trading card game about keeping your home clean. If
				you'd like to set up the game for your house, please click on "Create A House". If 
				someone else has already set up the game for you, click "Join"!
				</p>
				<p>
					<a class="btn btn-success btn-lg" id="create-btn"href="#" role="button">Create A House</a>
					<a class="btn btn-primary btn-lg" id="join-btn"href="#" role="button">Join An Existing House</a>
				</p>
				<div class="hidden" id="create-form">
					<form action="/create" action="get">
						<div class="form-group">
							<label for="">House Code</label>
							<input type="text" name="houseCode" class="form-control" value="dfe43sade"/>
						</div>
						<div class="form-group">
							<label for="">Username</label>
							<input type="text" name="username" class="form-control" value=""/>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="hidden" id="join-form">
					<form action="/join" action="get">
						<div class="form-group">
							<label for="">House Code</label>
							<input type="text" class="form-control" value="dfe43sade"/>
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
			</div>
		</div>
		<footer class="row">
			<!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
			<p class="text-center">
				Copyright Team Mech, 2016
			</p>
		</footer>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="js/pages/landing.js"></script>     
</body>
</html>
