<html>
<head>
</head>
<body>
	<p>Laziest bloody landing page on this side of the Mississippi.</p>
	<a href="/create">Create A House</a>
	<a href="/join">Join A House</a>
	<p>
		for now we'll need to make sure the create AND join routes
		set the cookie so we can proceed to the home screen.
	</p>
</body>
</html>