<!DOCTYPE html>
<html>
  <head>
    <title>My Chores</title>
    {{> styles }}
  </head>
  <body>
	<!-- this is a comment in HTML -->
  {{> navbar }}
	<div class="container">
    <div class="jumbotron">
      <h1>My Chores</h1>
      {{#if chores }}
      <p>Hi, {{ username }}. You have {{ chores.length }} unfinished chores this week. Get to it!</p>
      {{else}}
      <p>Hi, {{ username }}. Looks like you've finished all your chores this week.</p>
      {{/if}}
    </div>

    <ul class="list-cards col-xs-12">
      {{#each chores }}
      {{> flippable-card }}
      <hr>
      {{/each}}
    </ul>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/card-util.js"></script>
  </body>
</html>
