<!doctype html>

<html>
<head>
  <title>Chore Champs - Settings</title>
  {{> styles }}
</head>

<body>
  {{> navbar }}
  <div class="container" margin="auto">
    <form action="" method="post">
      <label>Cards are dealt every: </label> 
      <select>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>

      <br/>
      <label>at</label>
      <select>
        <option value="8am">8am</option>
        <option value="9am">9am</option>
        <option value="10am">10am</option>
        <option value="11am">11am</option>
        <option value="12pm">12pm</option>
      </select>

      <br/>
      <br/>
      <button class="saveChanges">Save Changes</button>
    </form>
  </div>
    <footer class="row">
      <!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
      <p class="text-center">
        Copyright Team Mech, 2016
      </p>
    </footer>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/temp.js"></script>
</body>
</html>
