<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  {{> styles }}
</head>
<body>
{{> navbar }}
<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <br/>
      <div class="alert alert-info">
      Hey! Buy some perks! To learn more about these perks, visit our <a href="http://example.com">tutorial</a>!
      </div>
      <ul class="list-group">
        {{#each inventory}}
        <div>
            <button class="fubar">{{name}} : {{price}} gold</button>
        </div>
        {{/each}}
      </ul>
    </div>
  </div>
  <footer class="row">
    <!-- This is crappy and we'll need to use an actual sticky footer plugin, but for now it's fine -->
    <p class="text-center">
      Copyright Team Mech, 2016
    </p>
  </footer>

</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/temp.js"></script>
</body>
</html>
