<!DOCTYPE html>
<html>
  <head>
    <title>Verify Chores</title>
    {{> styles }}
  </head>
  <body>
	<!-- this is a comment in HTML -->
  {{> navbar }}
	<div class="container">
    <div class="jumbotron">
      <h1>Verify Chores</h1>
      <p class="text-center">
        <small><em>"Squeaky clean," they said.</em></small>
      </p>
    </div>

		<p></p>

    <div class="list-group">
    {{#each pending }}
      <div class="list-group-item">
        <h4 class="list-group-heading">{{ name }}</h4>
        <p class="list-group-item-text">
          Submitted By: {{ belongsTo }}<br/>
          Verify Bonus: {{ verifyBonus }} gold
        </p>
        <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    {{/each}}
    </div>

    <div class="list-group">
    {{#each completed }}
    {{/each}}
    </div>

    {{> footer }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/card-util.js"></script>
  </body>
</html>
