/* Ensures the fixed navbar doesn't occlude other elements */
body { 
	padding-top: 70px;
}

/* Must be above the .card class. 
   Handles the base transform in CSS 3D */
.card-container {
	position: relative;
	width: 350px;
	height: 490px;
	perspective: 800px; /* not sure if I need this...*/
}

/*
 * For explanation on what's going on, check this out:
 * https://desandro.github.io/3dtransforms/docs/card-flip.html
 */
.card {
	background-color: #66DDFF;
	width: 100%;
	height: 100%;
	border: 10px solid #000000;
	border-radius: 16px; /* to make it look for like MtG cards */
	transform-style: preserve-3d;
	transition: transform 0.75s;
}

.card .front {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card .back {
	background: yellow;
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.card-contents {
	margin: 8px;
}

/* To make the card flip, just toggle this class */
.card.flipped {
	transform: rotateY(180deg);
}

/*** Styles for the front of the card ***/

.card-header {
	border: 3px solid #000000;
	background-color: #66CCFF;
}

.gold-img {
	float:right;
	max-width: 13%;
	max-height: 13%;
	margin-top: 5px;
}

.card-name {
	margin-left: 5px;
	float: left;
	font-weight: bold;
}

.card-reward {
	margin-right: 5px;
	float: right;
	font-weight: bold;
}

.card-img {
	margin-top: 5px;
	border: 3px solid #000000;
	display: block;
	max-height: 25%;
  	max-width: 100%;
}

.card-requirements {
	margin-top: 5px;
	border: 3px solid #000000;
	background-color: #F0F0F0;
	text-align: center;
}

.card-requirements-text {
	font-weight: bold;
	font-size: 32px;
	margin: 0;
}

/** TODO: Styles for the back of the card */