/* Ensures the fixed navbar doesn't occlude other elements */
body { 
	padding-top: 70px;
}

/* For keeping buttons at the bottom of a form 
   right-aligned and padded properly. */
.btn-right-padded {
	float: right;
	margin-left: 0.5em;
}

/* Must be above the .card class. 
   Handles the base transform in CSS 3D */
.card-container {
	position: relative;
	max-width: 350px;
	height: 490px;
	perspective: 800px; /* not sure if I need this...*/
}

/* Javascript-only classes. Included here for reference */
.complete-chore-btn {}
.reroll-chore-btn {}

/*
 * For explanation on what's going on, check this out:
 * https://desandro.github.io/3dtransforms/docs/card-flip.html
 */
.card {
	/* #66DDFF */
	background-color: #BBDAF3; 
	width: 100%;
	height: 100%;
	border: 10px solid #444;
	border-radius: 16px; /* to make it look for like MtG cards */
	transform-style: preserve-3d;
	transition: transform 0.75s;
}

.card .front {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card .back {
	background: beige;
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.card-contents {
	margin: 8px;
}

/* To make the card flip, just toggle this class */
.card.flipped {
	transform: rotateY(180deg);
}

/*** Styles for the front of the card ***/

.card-header {
	border: 3px solid #444;
	border-radius: 4px;
	background-color: beige; /*#66CCFF*/
}

.gold-img {
	/*float:right;*/
	position: absolute;
	top: 1.25em;
	right: 4em;
	max-width: 10%;
	max-height: 10%;
	margin-top: 5px;
}

.card-name {
	margin-left: 5px;
	float: left;
	font-weight: bold;
}

.card-reward {
	margin-right: 5px;
	/*float: right;*/
	font-weight: bold;
	border: solid 2px yellow;
	border-radius: 16px;
	background: yellow;
	position: absolute;
	top: 0.15em;
	right: 0.5em;
}

.card-img {
	margin-top: 5px;
	border: 3px solid #444;
	border-radius: 4px;
	display: block;
	max-height: 320px;
  	max-width: 100%;
}

.card-requirements {
	margin-top: 5px;
	border: 3px solid #444;
	border-radius: 4px;
	background-color: beige; /*#F0F0F0*/
	text-align: center;
}

.card-requirements-text {
	font-weight: bold;
	font-size: 32px;
	margin: 0;
}

/** Styles for the back of the card */
ul.card-reqs {
	padding-left: 20px;
	font-size: 20pt;
}